# .env.example
# Microsoft App Registration
# Register at https://portal.azure.com/#view/Microsoft_AAD_RegisteredApps/ApplicationsListBlade
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REDIRECT_URI=

# Session Secret
SESSION_SECRET=
